* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
}

.nav-wrapper {
  position: absolute;
  margin-top: 40px;
  padding-left: 40px;
}

.header-text {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
}

.header-text h1 {
  text-align: center;
  color: purple;
}

.header-text h4 {
  text-align: center;
  color: black;
}
.header-text p {
  text-align: center;
  color: black;
  font-style: italic;
}

#contact-header {
  margin-top: 20px;
  text-align: center;
  color: cadetblue;
}

.contact-info ul {
  display: table;
  margin: 0 auto;
  list-style: none;
}

.contact-info li {
  text-align: left;
  padding: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  z-index: var(--i);
  width: 250px;
}

.contact-info ul li:hover {
  background: #33a3ee;
  transition: 0.5s;
}

.contact-info ul li p {
  font-weight: bold;
  color: purple;
  line-break: strict;
}

.contact-info ul li a {
  text-decoration: none;
  font-weight: normal;
  color: darkcyan;
}
