* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
}

.nav-wrapper {
  position: absolute;
  margin-top: 40px;
  padding-left: 40px;
}

.profile-image {
  margin: 2%;
  width: 100%;
  text-align: center;
}

#about-text {
  width: 100%;
  margin: 10px;
}

#about-text h3 {
  margin: 10px;
  font-weight: 700;
  text-align: center;
  transform: translate(-40px, 0);
}

#about-text h2 {
  margin: 10px;
  font-weight: 700;
  text-align: center;
  color: rgb(0, 145, 255);
  transform: translate(40px, 0);
}

#about-text ul {
  display: table;
  margin: 0 auto;
}

#about-text ul li {
  padding: 4px;
  list-style: none;
}

.so-profile {
  display: grid;
  text-align: center;
}

.git-status {
  text-align: center;
}
